{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div id="texture" class="blue">
  {{ partial "banner-top" .}}
</div>
<div id="main">
  <div id="components" class="body space">
    <div id="media-grid">
      {{ range where .Data.Pages "Section" "Journal" }} {{ partial "summary-journal" . }} {{ end }}
    </div>
    <section>{{ partial "pagination" .}}</section>
  </div>
  {{ end }}
  {{ define "footer"}}{{ partial "footer" .}} {{end}}
